<div class="popup-bg">
    <div id="addBannerTmp">
        <div class="left-part">
            <div class="close-btn btn-close">
                    <i class="glyphicon glyphicon-remove"></i>
                </div>
            <div class="loop">
                <p>图片连接： </p>
                <input name="link" type="text" placeholder="请输入图片链接地址">
            </div>
            <div class="loop">
                <p>活动标题： </p>
                <input name="title" type="text" placeholder="请输入链接标题">
            </div>
            <div class="loop">
                <button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 上传图片</button>
                <input class="file-btn" type="file" accept="image/jpg,image/jpeg,image/png" name="file">
            </div>
        </div>
        <div class="right-part">
            <div class="loop">
                <p>图片预览： </p>
                <img id="picture-preview" src="" alt="">
            </div>
        </div>
        <div class="add">
            <button class="btn btn-close btn-default">取消</button>
            <button class="btn btn-info" id="saveBannerPhoto">提交</button>
        </div>
    </div>
</div>