.fl {
    float: left;
}
.fr {
    float: right;
}

.clearfix:before,.clearfix:after{ 
    content:""; 
    display:table; 
} 

.txt-r {
    text-align: right;
}

.clearfix:after{clear:both;} 

.clearfix{ 

    *zoom:1;/*IE/7/6*/

}

.scroll-box::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/*正常情况下滑块的样式*/

.scroll-box::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.05);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

/*鼠标悬浮在该类指向的控件上时滑块的样式*/

.scroll-box:hover::-webkit-scrollbar-thumb {
   background-color: rgba(0,0,0,.2);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);

}

/*鼠标悬浮在滑块上时滑块的样式*/

.scroll-box::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}

/*正常时候的主干部分*/

.scroll-box::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: white;
}

/*鼠标悬浮在滚动条上的主干部分*/

.scroll::-webkit-scrollbar-track:hover {

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.01);

}

/* Dialog Toast 确认框
*****************************************/
.popup-toast{z-index: 10000;position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:rgba(0,0,0,.7);border-radius:10px;}
.popup-toast .toast-content{padding:15px 30px;max-width:300px;font-size:18px;color:#fff;word-break:break-all;}

/* Popup
*****************************************/
.alert-popup-bg,.popup-bg{position:fixed;top:0;left:0;z-index:1111;width:100%;height:100%;background-color:rgba(0,0,0,.5);}
.popup-box{padding-bottom: 20px;position:fixed;top:50%;left:50%;min-width:300px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%);border-radius:10px;background-color:#fff}
.popup-header{height:65px;line-height:65px;border-bottom:1px solid #d5d5d5;background-color:#f5f5f5;border-radius:10px 10px 0 0;text-align: center;}
.popup-header h2{margin: 0;font-weight:400;line-height:64px;font-size:18px;color:#575757}
.popup-content .text{max-width: 400px;text-align: center;padding: 20px}
.popup-content .button{display: flex;justify-content: space-around}
.popup-content .button button{display:inline-block;width:100px}


.system-loading{position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,.4);z-index:999999}
.system-loading p{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:204px;height:204px;background:url(../images/loading.gif) no-repeat left top}




html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header {
    height: 50px;
    width: 100%;
    background-color: rgb(37, 42, 47);
    color: #fff;
    line-height: 50px;
    padding-right: 25px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 33;
}
.header .logo {
    width: 200px;
    height: 100%;
    line-height: 50px;
    text-align: center;
}
.header .logo a {
    color: #fff;
}
.header .user li {
    float: right;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.header .user a,
.header .user i {
    display: block;
    /* vertical-align: middle; */
}
.header .user a {
    height: 100%;
}
.header .user img {
    width: 30px;
    border-radius: 50%;
}
.header .user i,
.header .user img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper {
    position: relative;
    padding-top: 50px;
    padding-left: 45px;
    height: 100%;
    width: 100%;
    transition: padding-left .5s;
}
.menu-bar {
    height: 100%;
    background-color: rgb(37, 42, 47);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 50px; 
}
.menu-bar .out-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
 .secont-order,
.first-order {
    padding-top: 50px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.first-order {
    border-top: 1px solid hsla(0,0%,100%,.1); 
    width: 45px;
    z-index: 22;
    background: rgb(37, 42, 47);
    /* padding-top: 60px; */
    transition: width .5s;
    overflow: hidden;
}
.first-order:hover {
    width: 207px;
}
.first-order li {
    height: 40px;
    width: 100%;
    line-height: 45px;
    color: rgb(179, 181, 182);
    position: relative;
    cursor: pointer;
}
.first-order li p {
    display: inline;
}

.first-order li i {
    display: block;
    width: 45px;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

.first-order li span {
    width: 162px;
    height: 100%;
    position: absolute;
    left: 45px;
    top: 0;
}
.first-order li:hover span {
    color: rgb(0,193,222);
}
.first-order .active {
    background-color: rgb(0,193,222);
    color: #fff;
}
.first-order li.active span{
    color: #fff;
}
.first-order li em {
    float: right;
    height: 100%;
    line-height: 40px;
    padding-right: 15px;
}
.secont-order {
   width: 207px;
   left: -162px;
   z-index: 11;
   padding-left: 45px;
   transition: left .5s;
} 
.secont-order .title {
    height: 60px;
    line-height: 60px;
    color: rgb(51,55,51);
    font-weight: 700;
    background-color: rgb(211,217,228);
    padding-left: 20px;
    font-size: 12px;
}
.secont-order .big-nav {
    width: 100%;
    height: 100%;
    position: relative;
}
.secont-order .item {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgb(233, 236, 240);
    display: none;
}
.secont-order .item li {
    line-height: 40px;
    padding-left: 23px;
    color: #333;
    font-size: 12px;
}
.secont-order .item li:hover {
    background-color: rgb(243,245,247);
}
.secont-order .item li.cur {
    background-color: #fff;
}
.show-hide-btn {
    z-index: 43;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 3px;
    cursor: pointer;
    background-color: rgb(93, 241, 91);
    color: #fff;
    border-radius: 7px 0 0 7px;
    transition: all 0.4s;
}
.show-hide-btn.current {
    right: -20px;
    border-radius:0 7px  7px  0;
}
.wrapper .main {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

/* 用户基本信息 */
#informationduct {
    padding: 30px 10px 0 30px;
}

#informationduct .i-nav {
    height: 30px;
    border-bottom: 1px solid rgb(194,226,252);
}
#informationduct .i-nav li {
    width: 80px;
    float: left;
    line-height: 30px;
    margin-right: 10px;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: 5px 5px 0 0;
}
#informationduct .i-nav .cur {
    background-color: #c2e2fc;
}
#informationduct .i-content {
    width: 100%;
}
#informationduct .item {
    display: flex;
    padding-top: 30px;
}
#informationduct .item .img-part {
    width: 20%;
    text-align: center;
}
#informationduct .img-part img {
    margin: 0px auto;
    width: 150px;
}
#informationduct .img-part button {
    margin-top: 20px;
}
#informationduct .item .info-part  {
    width: 65%;
}
 .ui-form-row {
    overflow: hidden;
    padding: 20px 0;
}
 .ui-form-row span{
    float: left;
    margin-right: 20px;
    line-height: 38px
}
 .ui-form-row .loop {
    width: 100px;
    text-align: right;
    color: #777;
}
 .ui-form-row  .ordinary {
    float: left;
    outline: none;
    border: none;
    width: 350px;
    border: 1px solid #999;
    padding: 8px 10px;
    border-radius: 5px;
    
}
 .ui-form-row button {
    margin-left: 120px;
}
#informationduct .select-part i {
    padding-right: 5px
}
#informationduct .update-img {
    padding-left: 80px;
}
#informationduct .select-part {
    position: relative;
}
#informationduct .select-part input {
    position: absolute;
    left: 0;
    top: 0;
    height: 35px;
    width: 95px;
    overflow: hidden;
    opacity: 0;
}
#informationduct .update-img .select-img {
    background-color: rgb(111,136,156);
    color: #fff;
    height: 35px;
    width: 100px;
}
#informationduct .select-part p {
    margin-top: 10px;
    font-size: 12px;
}
#informationduct .preview-part {
    padding: 15px 0 30px;
    display: flex;
}
#informationduct .preview-part .left{
    width: 372px;
    height: 280px;
    border: 1px solid #d9d9d9;
    background: #f0f0f0 url(../images/touxiang_quyu.jpg) no-repeat center center;
}
#informationduct .preview-part .right {
    margin-left: 60px;
}
#informationduct .preview-part .right p {
    text-align: center;
    padding-top: 10px;
}
#informationduct .preview-part #previewyulan {
    height: 120px;
    width: 120px;
    background: url(../images/img_120-120.gif) no-repeat center center;
}
.required {
    position: relative;
}
.required:before {
    content: "*";
    color: red;
}
#newsclassification {
    padding: 20px;
}
#newsclassification .content {
    padding: 20px;
}
#newsclassification table {
    width: 600px;
}

#bannermanage {
    padding: 20px;
}
#bannermanage table img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.popup-bg #addBannerTmp {
    width: 800px;
    margin: 100px auto;
    background-color: #fff;
    padding: 30px 20px 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.popup-bg input {
    border: 1px solid #777;
    height: 35px;
    width: 100%;
    display: block;
    padding-left: 20px;
    border-radius: 5px;
}
.popup-bg .loop {
    padding: 10px 20px;
    position: relative;
}
.popup-bg .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.popup-bg #picture-preview {
    width: 300px;
    height: 175px;
    border: 1px solid #d9d9d9;
    background: #f0f0f0 url(../images/touxiang_quyu.jpg) no-repeat center center;
}
.popup-bg .left-part {
    width: 50%;
}
.popup-bg .right-part {
    width: 50%;
} 
.popup-bg .loop .file-btn {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 100px;
    overflow: hidden;
    opacity: 0;
}
.popup-bg .add {
    padding-top: 40px;
    text-align: right;
    padding-right: 100px;
    width: 100%;
}
.popup-bg .add button {
    margin-left: 20px;
}
#addnews {
    padding: 40px 40px 40px 40px;
    width: 90%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    overflow-y: auto;
}
#addnews .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}
#addnews .btns button {
    /* padding-left: 100px; */
    margin-left:40px;
}
#addnews .long {
    width: 100%;
    display: flex;
}
#addnews .long .ui-form-row {
    width: 50%;
}
#addnews .custom {
    line-height: 39px;
}

#addnews .note-editor.note-frame {
    margin-left: 39px;
}
#addnews input[type=radio] {
    position: relative;
    top: 1px;
    margin-left: 20px;
}
#addnews select {
    height: 35px;;
    border: 1px solid #999;
    width: 180px;
    border-radius: 5px;
    padding-left: 15px;
}
#addnews #keylabel {
    z-index: 33;
    position: relative;
    padding: 20px 0 30px;
}
#addnews #keylabel .clearfix {
    position: relative;
    display: inline-block;
}
#addnews #keylabel i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 66;
}
#addnews .add-key-word {
    width: 500px;
    height: 27px;
    background: #fff;
    position: absolute;
    left: 120px;
    top: 59px;
    padding-top: 4px;
}
#addnews .add-key-word input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 8px;
}
#addnews .add-key-word button {
    margin-left: 10px;
    padding: 0 ;
    padding: 2px 5px;
}
#addnews .keyword-box {
    width: 500px;
    height: 36px;
    position: absolute;
    left: 120px;
    top: 21px;
    z-index: 33;
    padding-top: 8px;
}
#addnews .keyword-box li {
    float: left;
    background: #ddd;
    border-radius: 3px;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px
}
#addnews .keyword-box span {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    margin-right: 5px;
}
#addnews .keyword-box em {
    color: #fff;
    position: relative;
    top: -1px;
    cursor: pointer;
}

#addnews .fengmian-container {
    position: relative;
    height: 235px;
    border: 1px solid #ddd;
    margin-left: 40px;
    margin-bottom: 20px;
}
#addnews .picture-preview-box {
    position: absolute;
    right: 25px;
    top: 16px;
}
#addnews #picture-preview-fengmian {
    width: 300px;
    height: 200px;
    background: #f0f0f0 url(../images/touxiang_quyu.jpg) no-repeat center center;
    display: block;
}
#addnews .fengmian-container .fengmian-btn,
#addnews .fengmian-container .btn-success {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 123px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 136px;
    overflow: hidden;
}
#addnews .fengmian-container .fengmian-btn {
    opacity: 0;
}
#addnews .abstract-box {
    padding-left: 40px;
    padding-bottom: 20px;
}

#addnews #abstract {
    border: 1px solid #ddd;
    width: 100%;
    height: 104px;
    border-radius: 8px;
    padding: 10px;
}
#infodiffusion .pagination-container {
    text-align: right;
}

#infodiffusion {
    padding: 20px;
}

#effectiveTime {
    float: left;
    width: 150px;
}
.set-time-btns {
    padding-top: 7px;
    font-size: 12px;
    padding-left: 20px;
}
.set-time-btns input{
    border: 1px solid #ccc;
    margin-left: 5px;
}
.set-time-btns input[type=text] {
    width: 100px;
}
.set-time-btns input[type=checkbox] {
    position: relative;
    top: 3px;
}